<!DOCTYPE html>
<html lang="ru" xmlns:v-bind="http://www.w3.org/1999/xhtml" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <base href="/">
    <title>Start</title>

    <link href="{{ param('perfumerlabs.start/static') }}/vendor/normalize-css/normalize.css" rel='stylesheet' type='text/css'>

    <style>
        * {box-sizing: border-box}
        #navbar {border-bottom: 1px solid #eeeeee; margin-bottom: 10px; padding: 5px}
        #navbar > .navbar-left { float: left }
        #navbar > .navbar-right { float: right }
        #navbar a, #navbar span {color: #07c; text-decoration: none; cursor: pointer}
        #navbar a:visited {color: #07c}
        #dashboard { margin: 0 auto }
        #no-duties { text-align: center }
        #no-duties > div { font-size: 30px; margin-top: 20%; color: #cccccc }
        .buttons-area > button { margin-right: 10px }
        .sticker { border: 1px solid #cccccc; border-radius: 5px; margin-bottom: 10px; padding: 10px; cursor: pointer }
        .sticker.active { background: cornsilk }
        .postpone-area, .comment-area { display: none }
        .postpone-area, .comment-area, .comment-text-area, .duty-area { margin-top: 10px }
        .comment-area textarea { width: 100% }
        .postpone-area ul { padding-left: 0; margin: 0 }
        .postpone-area li { list-style: none; margin-bottom: 5px }
        .postpone-area li > span { color: #07c; cursor: pointer }
        .postpone-area li > input { margin-right: 3px }
        button { border-radius: 5px;  border: 1px solid #ccc; background: white;  padding: 5px;  cursor: pointer; }
        button.primary { border-color: #07c; background: #07c; color: white }
        button:hover { border-color: #07c; background: #07c; color: white }
        button:focus { outline: 0; }
        input[type=text], input[type=date], input[type=time], textarea { border-radius: 5px; padding: 5px; border: 1px solid #ccc }
        input[type=date], input[type=time] { border-radius: 5px; padding: 2px; border: 1px solid #ccc }

        @media screen and (max-width: 799px) {
            #dashboard { width: 100% }
            #stickers-column, #workspaces { width: 100% }
            .visible { display: block }
            .invisible { display: none }
        }

        @media screen and (min-width: 800px) {
            #dashboard { width: 100% }
            #stickers-column { width: 30%; float: left }
            #workspaces { width: 69%; float: right }
            #workspaces .back-button { display: none }
            .visible { display: block }
            .invisible { display: block }
        }

        @media screen and (min-width: 1200px) {
            #dashboard { width: 1200px }
            #stickers-column { width: 30%; float: left }
            #workspaces { width: 69%; float: right }
            #workspaces .back-button { display: none }
            .visible { display: block }
            .invisible { display: block }
        }
    </style>
</head>

<body>
<div id="navbar">
    <div class="navbar-left">
        {% for toolbar in toolbars %}
            <span class="create-duty" data-id="{{ toolbar.id }}">{{ toolbar.toolbar }}</span>
        {% endfor %}
    </div>

    <div class="navbar-right">
        <a href="{{ url('logout') }}">Выход</a>
    </div>

    <div style="clear: both"></div>
</div>

<div id="dashboard">
    <div id="stickers-column" class="visible">
        <div style="margin-bottom: 10px">
            <input id="search" v-on:focus="focusSearch()" v-on:blur="blurSearch()" v-on:keyup="search()" v-model="query" name="search" placeholder="Поиск задач" style="width: 100%; border-radius: 5px; padding: 5px; border: 1px solid #ccc">
        </div>

        <div id="stickers" v-if="!searching">
            <div class="sticker" v-for="duty in duties" v-bind:style="{borderLeft: '20px solid ' + duty.color}" v-on:click="openDuty(duty)">
                <div style="color: #cccccc; font-size: smaller">{{ '{{ duty.name }}' }}</div>
                <div style="margin-top: 5px">{{ '{{ duty.title }}' }}</div>
                <div v-if="duty.tags && duty.tags.length > 0" style="margin-top: 5px; font-size: smaller">{{ '{{ duty.tags.join(\', \') }}' }}</div>
            </div>
        </div>

        <div id="searching" v-if="results.length > 0 && searching">
            <div class="sticker" v-for="duty in results" v-bind:style="{borderLeft: '20px solid ' + duty.color}" v-on:click="pickDuty(duty)">
                <div style="color: #cccccc; font-size: smaller">{{ '{{ duty.name }}' }}</div>
                <div style="margin-top: 5px">{{ '{{ duty.title }}' }}</div>
                <div v-if="duty.tags && sticker.tags.length > 0" style="margin-top: 5px; font-size: smaller">{{ '{{ duty.tags.join(\', \') }}' }}</div>
            </div>
        </div>

        <div id="search-help" v-if="results.length == 0 && searching" style="color: #ccc">Начните вводить текст</div>
    </div>

    <div id="workspaces" class="invisible">
        <div class="workspace" v-for="duty in duties" v-if="duty.open">
            <div class="buttons-area" v-if="duty.writable || duty.readonly || duty.postponable">
                <button v-if="duty.writable">Комментарий</button>
                <button v-if="duty.readonly">Закрыть</button>
                <button v-if="duty.postponable">Отложить</button>
                <button class="back-button">Назад</button>
            </div>

            <div class="comment-text-area" v-if="duty.comment">{{ '{{ duty.comment }}' }}</div>

            <div class="comment-area" v-if="duty.writable">
                <textarea rows="5" placeholder="Комментарий">{{ '{{ duty.comment }}' }}</textarea>
            </div>

            <div class="postpone-area" v-if="duty.postponable">
                <ul>
                    <li><span>На 15 минут</span></li>
                    <li><span>На 30 минут</span></li>
                    <li><span>На 1 час</span></li>
                    <li><span>На 2 часа</span></li>
                    <li><span>На 1 день</span></li>
                    <li><span>На 2 дня</span></li>
                    <li>
                        <input type="date">
                        <input type="time" value="00:00:00">
                        <button class="primary">Сохранить</button>
                    </li>
                </ul>
            </div>

            <div class="duty-area" v-if="duty.iframe_open">
                <iframe v-attr="src: duty.iframe"></iframe>
            </div>
        </div>
    </div>

    <div style="clear: both"></div>

    <div id="no-duties" v-if="duties.length == 0 && !searching">
        <div>У вас пока нет задач</div>
    </div>
</div>

<script src="{{ param('perfumerlabs.start/static') }}/js/start.js"></script>
<script src="{{ param('perfumerlabs.start/static') }}/vendor/buzz/dist/buzz.min.js"></script>
<script src="https://unpkg.com/vue"></script>
<script src="https://cdn.jsdelivr.net/npm/vue-resource@1.3.4"></script>
<script src="{{ param('perfumerlabs.start/static') }}/js/app.js"></script>

<script>
    var DATA = {
        "static": "{{ param('perfumerlabs.start/static') }}"
    };

    Start = new Start();
    Start.run();
</script>

</body>
</html>
