<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <base href="/">
    <title>Start</title>

    <link href="{{ param('perfumerlabs.start/static') }}/vendor/normalize-css/normalize.css" rel='stylesheet' type='text/css'>

    <style>
        * {box-sizing: border-box}
        #navbar {border-bottom: 1px solid #eeeeee; margin-bottom: 10px; padding: 5px}
        #navbar > .navbar-left { float: left }
        #navbar > .navbar-right { float: right }
        #navbar a, #navbar span {color: #07c; text-decoration: none; cursor: pointer}
        #navbar a:visited {color: #07c}
        #dashboard { margin: 0 auto }
        #no-duties { text-align: center; display: none }
        #no-duties > div { font-size: 30px; margin-top: 20%; color: #cccccc }
        .buttons-area > button { margin-right: 10px }
        .sticker { border: 1px solid #cccccc; border-radius: 5px; margin-bottom: 10px; padding: 10px; cursor: pointer }
        .sticker.active { background: cornsilk }
        .postpone-area, .comment-area { display: none }
        .comment-area textarea { width: 100%; border-radius: 5px; padding: 5px; border: 1px solid #ccc; margin-top: 10px }
        .comment-text-area { margin-top: 10px }
        .postpone-area ul { padding-left: 0 }
        .postpone-area li { list-style: none; margin-bottom: 5px }
        .postpone-area li > span { color: #07c; cursor: pointer }
        button { border-radius: 5px;  border: 1px solid #ccc; background: white;  padding: 5px;  cursor: pointer; }
        button.primary { border-color: #07c; background: #07c; color: white }
        button:hover { border-color: #07c; background: #07c; color: white }
        button:focus { outline: 0; }

        @media screen and (max-width: 799px) {
            #dashboard { width: 100% }
            #stickers-column, #workspaces { width: 100% }
            .visible { display: block }
            .invisible { display: none }
        }

        @media screen and (min-width: 800px) {
            #dashboard { width: 100% }
            #stickers-column { width: 30%; float: left }
            #workspaces { width: 69%; float: right }
            #workspaces .back-button { display: none }
            .visible { display: block }
            .invisible { display: block }
        }

        @media screen and (min-width: 1200px) {
            #dashboard { width: 1200px }
            #stickers-column { width: 30%; float: left }
            #workspaces { width: 69%; float: right }
            #workspaces .back-button { display: none }
            .visible { display: block }
            .invisible { display: block }
        }
    </style>
</head>

<body>
<div id="navbar">
    <div class="navbar-left">
        {% for toolbar in toolbars %}
            <span class="create-duty" data-id="{{ toolbar.id }}">{{ toolbar.toolbar }}</span>
        {% endfor %}
    </div>

    <div class="navbar-right">
        <a href="{{ url('logout') }}">Выход</a>
    </div>

    <div style="clear: both"></div>
</div>

<div id="dashboard">
    <div id="stickers-column" class="visible">
        <div style="margin-bottom: 10px">
            <input id="search" name="search" placeholder="Поиск задач" style="width: 100%; border-radius: 5px; padding: 5px; border: 1px solid #ccc">
        </div>

        <div id="stickers"></div>

        <div id="searching" style="display: none"></div>

        <div id="search-help" style="display: none; color: #ccc">Начните вводить текст</div>
    </div>

    <div id="workspaces" class="invisible">
    </div>

    <div style="clear: both"></div>

    <div id="no-duties">
        <div>У вас пока нет задач</div>
    </div>
</div>

<script src="{{ param('perfumerlabs.start/static') }}/js/start.js"></script>
<script src="{{ param('perfumerlabs.start/static') }}/vendor/buzz/dist/buzz.min.js"></script>

<script>
    var DATA = {
        "static": "{{ param('perfumerlabs.start/static') }}"
    };

    Start = new Start();
    Start.run();
</script>

</body>
</html>
