<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <base href="/">
    <title>Start</title>
    <link href="{{ param('perfumerlabs.start/static') }}/vendor/normalize-css/normalize.css" rel='stylesheet' type='text/css'>
    <script src="{{ param('perfumerlabs.start/static') }}/js/requirejs.min.js"></script>
    <script>
        var DATA = {
            "static": "{{ param('perfumerlabs.start/static') }}"
        };

        requirejs.config({
            paths: {
                "text" : "{{ param('perfumerlabs.start/static') }}/vendor/requirejs-text/text",
                "css" : "{{ param('perfumerlabs.start/static') }}/vendor/require-css/css.min",
                "start" : "{{ param('perfumerlabs.start/static') }}/js/start",
                "buzz" : "{{ param('perfumerlabs.start/static') }}/vendor/buzz/dist/buzz.min"
            }
        });

        requirejs(['start'], function (Start) {
            Start.run();
        });
    </script>
    <style>
        #navbar {border-bottom: 1px solid #eeeeee; text-align: right; margin-bottom: 10px; padding: 5px}
        #navbar > a {color: #07c; text-decoration: none}
        #navbar > a:visited {color: #07c}
        #no-duties { text-align: center; display: none }
        #no-duties > div { font-size: 30px; margin-top: 30%; color: #cccccc }
        .buttons-area > button { margin-right: 10px }
        .sticker { border: 1px solid #cccccc; border-radius: 5px; margin-bottom: 10px; padding: 10px; cursor: pointer }
        .sticker.active { background: cornsilk }
        .postpone-area { display: none }
        .postpone-area li { list-style: none }
        .postpone-area li > span { color: #07c; cursor: pointer }
    </style>
</head>

<body>
<div id="navbar">
    <a href="{{ url('logout') }}">Выход</a>
</div>

<div id="dashboard" style="width: 1200px; margin: 0 auto">
    <div id="no-duties">
        <div>У вас пока нет задач</div>
    </div>

    <div id="stickers" style="width: 500px; float: left">
    </div>

    <div id="workspaces" style="width: 690px; float: right">
    </div>

    <div style="clear: both"></div>
</div>
</body>
</html>
